@{
	var allJobs = ViewBag.AllJobs as List<JobListDTO>;
	var fullTimeJobs = ViewBag.FullTimeJobs as List<JobListDTO>;
	var partTimeJobs = ViewBag.PartTimeJobs as List<JobListDTO>;
}

<div class="container-xxl py-5">
	<div class="container">
		<h1 class="text-center mb-5">Job Listing</h1>
		<div class="tab-class text-center">
			<ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
				<li class="nav-item">
					<a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-1">
						<h6 class="mt-n1 mb-0">All</h6>
					</a>
				</li>
				<li class="nav-item">
					<a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
						<h6 class="mt-n1 mb-0">Full Time</h6>
					</a>
				</li>
				<li class="nav-item">
					<a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
						<h6 class="mt-n1 mb-0">Part Time</h6>
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<!-- All Jobs  -->
				<div id="tab-1" class="tab-pane fade show active p-0">
					@foreach (var item in allJobs)
					{
						<partial name="_JobItemPartial" model="item" />
					}
					@if (!ViewBag.ShowAllAll && ViewBag.TotalAllJobs > 5)
					{
						<a class="btn btn-primary py-3 px-5" asp-action="Index" asp-route-showAllAll="true">Browse More Jobs</a>
					}
				</div>

				<!-- FullTime Jobs  -->
				<div id="tab-2" class="tab-pane fade show p-0">
					@foreach (var item in fullTimeJobs)
					{
						<partial name="_JobItemPartial" model="item" />
					}
					@if (!ViewBag.ShowAllFullTime && ViewBag.TotalFullTimeJobs > 5)
					{
						<a class="btn btn-primary py-3 px-5" asp-action="Index" asp-route-showAllFullTime="true">Browse More Jobs</a>
					}
				</div>

				<!-- PartTime Jobs  -->
				<div id="tab-3" class="tab-pane fade show p-0">
					@foreach (var item in partTimeJobs)
					{
						<partial name="_JobItemPartial" model="item" />
					}
					@if (!ViewBag.ShowAllPartTime && ViewBag.TotalPartTimeJobs > 5)
					{
						<a class="btn btn-primary py-3 px-5" asp-action="Index" asp-route-showAllPartTime="true">Browse More Jobs</a>
					}
				</div>
			</div>
		</div>
	</div>
</div>