@model UserPageEditDTO

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Edit Profile</title>
    <!-- MDB icon -->
    <link rel="icon" href="~/UserPage/img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/UserPage/css/mdb.min.css" />
</head>
<body>
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <form method="post" action="/Account/Edit">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="firstName" class="mb-0">First Name</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="firstName" name="FirstName" >
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="lastName" class="mb-0">Last Name</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="lastName" name="LastName" >
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="email" class="mb-0">Email</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="email" name="Email" >
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="phone" class="mb-0">Phone</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="tel" class="form-control" id="phone" name="Phone" >
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="country" class="mb-0">Country</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="country" name="Country" >
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="address" class="mb-0">Address</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="address" name="Address" >
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="address" class="mb-0">Profession</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="profession" name="Profession" >
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- MDB -->
    <script type="text/javascript" src="~/UserPage/js/mdb.umd.min.js"></script>
</body>
</html>