@model ICollection<HomeGetCategoryDTO>
<div class="container-xxl py-5">
	<div class="container">
		<h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
		<div class="row g-4">
			@foreach (HomeGetCategoryDTO item in Model)
			{
				@if (item.IsDeleted == false)
				{
					<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
						<a class="cat-item rounded p-4" href="">
						<i class="fa fa-3x fa-tasks text-primary mb-4"></i>
						<h6 class="mb-3">@item.Title</h6>
						<p class="mb-0">@item.VacancyCount vacancy</p>
					</a>
				</div>
				}
			}
		</div>
	</div>
</div>
